* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border:#6e6e6e 2px solid;
}
h1 {
    text-align: center;
}
input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-right: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

.deleteTask {
    background: red
}

.input-tarefa {
    display: flex;
    margin-bottom: 16px;
    }


